@charset "UTF-8";

#wrap{
	width:1200px;
	margin:auto;
	font-family: 'SUITE Variable';
}

header{
	height:80px;
	background-color: #dddddd;
}

.contents > .join-box{
	width: 300px;
	height: 500px;
}

.contents > .contents-box{
	width: 700px;
}


footer{
	height:80px;
	background-color: #dddddd;
}